<section class="header-content container-fluid">
  <shared-nav-white></shared-nav-white>

  <div class="content-position d-flex position-absolute">

    <div class="enlace-categoria5">
      <a href="#" class="circle-link">
        <div class="circle circulo1">
          <img src="/assets/img/imgProducts/carne.jpg" alt="Imagen" class="img-fluid">
        </div>
      </a>
    </div>

    <div class="enlace-categoria2">
      <a href="#" class="circle-link">
        <div class="circle circulo2">
          <img src="/assets/img/imgProducts/desayuno.jpg" alt="Imagen" class="img-fluid">
        </div>
      </a>
    </div>

    <div class="enlace-categoria3">
      <a href="#" class="circle-link">
        <div class="circle circulo3">
          <img src="/assets/img/imgProducts/sshi.jpg" alt="Imagen" class="img-fluid">
        </div>
      </a>
    </div>

    <div class="enlace-categoria">
      <a href="#" class="circle-link">
        <div class="circle circulo4">
          <img src="/assets/img/imgProducts/cena.jpg" alt="Imagen" class="img-fluid">
        </div>
      </a>
    </div>

    <div class="enlace-categoria4">
      <a href="#" class="circle-link">
        <div class="circle circulo5">
          <img src="/assets/img/imgProducts/arroz.jpg" alt="Imagen" class="img-fluid">
        </div>
      </a>
    </div>

  </div>

</section>

<footer class="d-flex justify-content-center align-items-center position-absolute">
  <div class="footer-content">
    <h2>5+</h2>
    <span>Años de experiencia</span>
  </div>
  <div class="content-line">|</div>
  <div class="footer-content">
    <h2>4+</h2>
    <span>Master chefs</span>
  </div>
  <div class="content-line">|</div>
  <div class="footer-content">
    <h2>80+</h2>
    <span>visitantes diarios</span>
  </div>
</footer>

<!-- seccion del menu de descuento -->
<shared-menu-descuento></shared-menu-descuento>

<!-- seccion de muestra de los chefs -->
<shared-card-chefs></shared-card-chefs>

<!-- seccion del menu principal -->
<shared-seccion-menu></shared-seccion-menu>

<!-- seccion de bebidass -->
<shared-seccion-bebidas></shared-seccion-bebidas>

<!-- seccion del footer -->
<shared-footer-principal></shared-footer-principal>