<section class="container-fluid contenido-position">
  <div class="content-main d-flex justify-content-center align-items-center">
    <div class="content-text">
      <h1>Bienvendos al</h1>
      <h2>Refinado sabor de la excelencia culinaria</h2>
      <p>"Nuestro restaurante elegante ofrece una experiencia culinaria única, donde la sofisticación se fusiona con la
        exquisitez en cada plato. Con una atención meticulosa a los detalles y una carta cuidadosamente seleccionada,
        cada
        visita es un deleite para los sentidos"</p>
      <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/blog']">Explore nuestro menu</button>
    </div>
    <div class="content-img">
      <img src="/assets/img/imgProducts/platoSalad.png" alt="Imagen plato de ensalada">
    </div>
  </div>
</section>

<footer class="d-flex justify-content-center align-items-center position-absolute">
  <div class="footer-content">
    <h2>5+</h2>
    <span>Años de experiencia</span>
  </div>
  <div class="content-line">|</div>
  <div class="footer-content">
    <h2>4+</h2>
    <span>Master chefs</span>
  </div>
  <div class="content-line">|</div>
  <div class="footer-content">
    <h2>80+</h2>
    <span>visitantes diarios</span>
  </div>
</footer>