<div class="contenedor container-fluid">
  <h1>Nuestros Master Chefs</h1>

  <div class="card-position row row-cols-1 row-cols-md-3 g-1">

    <div class="col">
      <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <img src="/assets/img/imgChef/chefs1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">¡Hola! Soy Julian David Pinto</h5>
          <p class="card-text">
            Un apasionado chef con una profunda conexión con la cocina desde temprana edad. Mi viaje culinario comenzó
            en España - Colombia, donde adquirí habilidades y conocimientos que ahora utilizo para crear
            experiencias
            gastronómicas únicas.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <img src="/assets/img/imgChef/chefMujer.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">¡Hola! Soy Danna Isabella Cardozo</h5>
          <p class="card-text">
            Una apasionada chef con una gran conexión con la cocina desde temprana edad. Mi viaje
            culinario comenzó
            en Italia - Colombia, donde adquirí habilidades y conocimientos que ahora utilizo para crear
            experiencias
            gastronómicas únicas y hacer delitar sabores.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <img src="/assets/img/imgChef/chef2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">¡Hola! Soy Juan Camilo Cuellar</h5>
          <p class="card-text">
            Un apasionado chef con una profunda conexión con la cocina desde temprana edad. Mi viaje culinario comenzó
            en Madrid - Colombia, donde adquirí habilidades y conocimientos que ahora utilizo para crear
            experiencias
            gastronómicas sabores esquisitos.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
